<div class="flex-container">
    <div class="column"><img id="avatar" src="assets/images/avatar.png"></div>
    <div class="column bg-alt">
        <ul>
            <li>
                <h3>{{owner.name}}</h3>
            </li>
            <li>
                <h3>{{owner.age}}</h3>
            </li>
            <li>
                <h3>{{owner.country}}</h3>
            </li>
            <li>
                <h3>{{owner.jobtitle}}</h3>
            </li>
            <li>
                <h3>{{owner.company}}</h3>
            </li>
        </ul>
    </div>
</div>